
.home {
  text-align: center;
}

.nav {
  border: 1px solid gray;
  list-style: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content:  flex-start;
}

.nav > li > a {
  color: grey;
  text-decoration: none;
  padding: 24px;
  height: 16px;
}

.avengers {
  text-align: center;
}
